@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional base tokens via css vars */
:root {
  --bg: 255 255 255;
  --fg: 17 24 28;
}
.dark {
  --bg: 17 18 20;
  --fg: 232 234 237;
}
@layer base {
  body {
    @apply bg-[rgb(var(--bg))] text-[rgb(var(--fg))];
  }
}
